  version: '3.8'

  services:
    frontend:
      build: ./frontend
      expose:
        - "3000"
      depends_on:
        - backend

    backend:
      build: ./backend
      expose:
        - "8000"
      depends_on:
        - db

    db:
      image: postgres:13
      environment:
        POSTGRES_DB: smartcanteen
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: password
      ports:
        - "5432:5432"

    nginx:
      image: nginx:latest
      volumes:
        - ./nginx.conf:/etc/nginx/nginx.conf
      ports:
        - "80:80"
      depends_on:
        - frontend
        - backend
