version: '3.1'
services:
  postgres:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_DB: smartcanteen
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
